In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
glaxo_df=pd.read_csv('D://Data Science/Data/glaxo_df.csv')
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [11]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci, 4))

Gain at 95% confidence interval is: [-0.0258  0.0266]

In [9]:
beml_df=pd.read_csv('D://Data Science/Data/beml_df.csv')

In [14]:
beml_df_ci = stats. norm.interval(0.95,
loc=beml_df.gain.mean(),
scale=beml_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(beml_df_ci, 4))

Gain at 95% confidence interval is: [-0.0515  0.0521]