In [1]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels
import seaborn as sns
from scipy import stats

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
import statsmodels.formula.api as smf

In [3]:
import statsmodels.api as sm

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [4]:
import seaborn as sns

In [7]:
dlt=pd.read_csv ("D://Data Science/Assignments/4-Simple Linear Regression/delivery_time.csv")

In [9]:
dlt.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [10]:
dlt.columns=['Delivery', 'Sorting']

In [11]:
dlt

    Delivery  Sorting
0      21.00       10
1      13.50        4
2      19.75        6
3      24.00        9
4      29.00       10
5      15.35        6
6      19.00        7
7       9.50        3
8      17.90       10
9      18.75        9
10     19.83        8
11     10.75        4
12     16.68        7
13     11.50        3
14     12.03        3
15     14.88        4
16     13.75        6
17     18.11        7
18      8.00        2
19     17.83        7
20     21.50        5