In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
suv=pd.read_csv('D://Data Science/Data/suv_data.csv')
suv.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [11]:
X=suv.iloc[:,[2,3]].values
Y=suv.iloc[:,4].values

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [30]:
train_test_split=X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [27]:
from sklearn.preprocessing import StandardScaler

In [32]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
classifier=LogisticRegression(random_state=0)
classifier.fit (X_train, Y_train)

LogisticRegression(random_state=0)

In [35]:
Y_pred=classifier.predict(X_test)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(Y_test, Y_pred)

0.87

In [40]:
from sklearn.metrics import confusion_matrix

In [41]:
confusion_matrix(Y_test,Y_pred)

array([[63,  5],
       [ 8, 24]], dtype=int64)

In [42]:
print(Y_pred)

[0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0
 0 0 1 0 1 1 1 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1]

In [43]:
print(Y_test)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 0 0 0 1 0 1 1 1]

In [44]:
Z_pred=classifier.predict(X_train)

In [45]:
accuracy_score(Y_train, Z_pred)

0.8233333333333334

In [47]:
confusion_matrix(Y_train,Z_pred)

array([[172,  17],
       [ 36,  75]], dtype=int64)